*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
header{
    background-color: rgb(255, 218, 151);
    text-align: center;
    color: white;
    padding: 1rem;
}
h2{
    font-size: 1rem;
}
input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-style: none;
    margin-bottom: 10px;
}
section{
    margin: auto;
    padding: 20px;
    max-width: 1460px;
    background-image: url(https://scontent.fcgh4-1.fna.fbcdn.net/v/t1.6435-9/79506587_1059938277689271_7261443671965302784_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=a26aad&_nc_eui2=AeGyuQ9qr_NxoyeLufxig93m-kNCqph2lk36Q0KqmHaWTfDF6XYMmcOzjO10NblEuy1Mtxi_PoOxdrVcGibwOZq3&_nc_ohc=t_Y7j-60KwEAX9amzvH&_nc_ht=scontent.fcgh4-1.fna&oh=e5d53f856e1873158e05428128a8b317&oe=60E4DFBE);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
input[type="submit"] {
    color: white;
    background-color: rgb(255, 218, 151);
    font-weight: bold;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('./images/images/arrow.jpg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
}
footer{
    padding: 50px;
    text-align: center;
}
hr{
    max-width: 1500px;
    margin: auto;
}
.container{
    margin: auto;
    max-width: 1500px;
}
.title{
    font-size: 2rem;
}
.formContainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}
.mb{
    margin-bottom: 20px;
}
.picture{
    width: 250px;

}
.description{
    color: white;
    display: inline-block;
    max-width: 40%;
    text-align: left;
    margin-bottom: 20px;

}
.description p, .description h3{
    margin-bottom: 30px;
    
}
.description h3{
    font-size: 1.5rem;
}
.logo{
    margin-top: 30px;
}